* {
    font-family: '標楷體';
    box-sizing: border-box;
    overflow: hidden;
}

body>*:not(aside, section), aside>*, section>* {
    border: 1px solid lightgray;
}

.main {
    width: 1024px;
    height: 768px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 12px;
    margin: 20px auto;
    text-align: center;
}

.top {
    width: 1000px;
    height: 65px;
}

.aside {
    flex-basis: 215px;
    height: calc(768px - 65px - 20px);
    display: flex;
    flex-direction: column;
}

.menu {
    flex-basis: calc(100% - 25px);
    font-weight: 500;
}

table {
    padding: 20px 50px;
}

td {
    font-size: 24px;
    border: 1px solid darkslategray;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #FF00FF;
}

.menu>a {
    display: inline-block;
    width: 200px;
    height: 35px;
    line-height: 35px;
    background: url('/img/menu1.png');
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}

.menu>a:hover {
    background: url('/img/menu2.png');
}

.update {
    flex-basis: 25px;
    font-size: 16px;
    text-align: center;
}

.section {
    flex-basis: calc(1000px - 215px);
    display: flex;
    flex-direction: column;
}

.marquee {
    flex-basis: 29px;
    padding: 0 calc((1000px - 770px - 215px - 2px) /2);
    font-size: 24px;
    color: #0000FF;
}

.content {
    flex-basis: calc(100% - 29px);
    padding: calc((1000px - 770px - 215px - 2px) /2);
}

.footer {
    width: 1000px;
    height: 20px;
    font-size: 16px;
    color: #000000;
    text-align: center;
}